<!-- EJS -- Embedded Java Script 
EJS is a templating engine
It is used to create dynamic HTML pages
Used to embed js in html  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- To use conditional rendering, we need to use locals.variableName -->
    <p><%= today %>, <%= advice %></p>
</body>
</html>